<div class="jumbotron">
	<div class="container">
		<h4 class="title">Visit Us at Our Store</h4>
		<br/>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<h5 class="center">Address:</h5>
				<p>15, Mayor Chitibabu Street
					<br/> Triplicane, Chennai 05</p>
				<h5 class="center">Opening Hours:</h5>
				<p>
					Mon-Thu: 10:00am - 7:00pm
					<br/> Friday: 9:00am - 9:00pm
					<br/> Saturday: 9:00am - 5:00pm
					<br/> Sunday: Closed</p>
			</div>
			<div class="col-md-4">
				<agm-map [latitude]="lat" [longitude]="lng">
					<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
				</agm-map>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<h4 class="title">About Us</h4>
	<p>Ricemandi.com is a Chennai-based online store that caters to our most basic requirement for life – food. We are specialists
		in India’s staple food, in most parts - rice & varieties of rice. Our uniqueness and forte is in our ability to provide
		to you the best quality rice, from our very own mills.</p>
</div>