<footer class="site-footer">
	<div class="container">
	  <div class="row">
		<div class="col-lg-3 col-md-6">
		  <!-- Contact Info-->
		  <section class="widget widget-light-skin">
			<h3 class="widget-title">Get In Touch With Us</h3>
			<p class="text-white">Phone: 00 33 169 7720</p>
			<ul class="list-unstyled text-sm text-white">
			  <li><span class="opacity-50">Monday-Friday:</span>9.00 am - 8.00 pm</li>
			  <li><span class="opacity-50">Saturday:</span>10.00 am - 6.00 pm</li>
			</ul>
			<p class="store-mail"><a class="navi-link-light" href="#">thewholesalericemerchant@gmail.com</a></p>
			<a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i-facebook class="sm-icon"></i-facebook></a>
			<a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i-twitter class="sm-icon"></i-twitter></a>
			<a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i-instagram class="sm-icon"></i-instagram></a>
			<a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="fab fa-google-plus-g"></i></a>
			
		</section>
		</div>
		<div class="col-lg-3 col-md-6">
		  <!-- Mobile App Buttons-->
		  <section class="widget widget-light-skin">
			<h3 class="widget-title">Our Mobile App</h3>
			<!-- <a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a> -->
			<a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a>
			<!-- <a class="market-button windows-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a> -->
		  </section>
		</div>
		<div class="col-lg-3 col-md-6">
		  <!-- About Us-->
		  <section class="widget widget-links widget-light-skin">
			<h3 class="widget-title">About Us</h3>
			<ul>
			  <li><a routerLink="/not-found">Careers</a></li>
			  <li><a routerLink="/about-us">About The Rice Mart</a></li>
			  <li><a routerLink="/about-us">Our Story</a></li>
			  <li><a routerLink="/about-us">Services</a></li>
			  <li><a routerLink="/blog">Our Blog</a></li>
			</ul>
		  </section>
		</div>
		<div class="col-lg-3 col-md-6">
		  <!-- Account / Shipping Info-->
		  <section class="widget widget-links widget-light-skin">
			<h3 class="widget-title">Account &amp; Shipping Info</h3>
			<ul>
			  <li><a routerLink="/profile-page">Your Account</a></li>
			  <li><a routerLink="/faq">Shipping Rates &amp; Policies</a></li>
			  <li><a routerLink="/faq">Refunds &amp; Replacements</a></li>
			  <li><a routerLink="/faq">Taxes</a></li>
			  <li><a routerLink="/faq">Delivery Info</a></li>
			  <li><a routerLink="/not-found">Affiliate Program</a></li>
			</ul>
		  </section>
		</div>
	  </div>
	  <hr class="hr-light mt-2 margin-bottom-2x">
	  <div class="row">
			<div class="col-md-6 padding-bottom-1x">
				<!-- Payment Methods-->
				<div class="margin-bottom-1x">
					<img src="../../assets/img/payment_methods.png" alt="Payment Methods">
				
				</div>
			</div>
			<div class="col-md-1 padding-bottom-1x">
				<!-- Payment Methods-->
				<div class="margin-bottom-1x">
						<img src="../../assets/img/paytm-512.png" alt="Payment Methods Paytm">
					</div>
					</div>
			
		<div class="col-md-5 padding-bottom-1x">
		  <!--Subscription-->
		  <form class="subscribe-form" novalidate="">
			<div class="row">
			  <div class="input-group input-light col-md-10">
					<input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail"><span class="input-group-addon"><i class="icon-mail"></i></span>
			  </div>
			  <button class="btn btn-primary" type="submit"><i-check></i-check></button>
			</div><span class="form-text text-sm opacity-50">Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.</span>
		  </form>
		</div>
	  </div>
	  <!-- Copyright-->
		<p class="footer-copyright">© All rights reserved. </p>
	</div>
	</footer>
	