<div class="jumbotron">
  <div class="container">
    <h3>Cart</h3>
<div class="table-responsive shopping-cart">
  <table class="table"> 
    <thead>
      <tr>
        <th>Product Name</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Subtotal</th>
        <th class="text-center">Discount</th>
        <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Cart</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="img/shop/cart/01.jpg" alt="Product"></a>
            <div class="product-info">
              <h4 class="product-title"><a href="shop-single.html">Canon EOS M50 Mirrorless Camera</a></h4><span><em>Type:</em> Mirrorless</span><span><em>Color:</em> Black</span>
            </div>
          </div>
        </td>
        <td class="text-center">
          <div class="count-input">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </td>
        <td class="text-center text-lg">$910.00</td>
        <td class="text-center text-lg">$35.00</td>
        <td class="text-center"><i-x-circle></i-x-circle></td>
      </tr>
      <tr>
        <td>
          <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="img/shop/cart/02.jpg" alt="Product"></a>
            <div class="product-info">
              <h4 class="product-title"><a href="shop-single.html">Apple iPhone X 256 GB Space Gray</a></h4><span><em>Memory:</em> 256 GB</span><span><em>Color:</em> Space Gray</span>
            </div>
          </div>
        </td>
        <td class="text-center">
          <div class="count-input">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </td>
        <td class="text-center text-lg">$1,450.00</td>
        <td class="text-center">—</td>
        <td class="text-center"><i-x-circle></i-x-circle></td>
      </tr>
      <tr>
        <td>
          <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="img/shop/cart/03.jpg" alt="Product"></a>
            <div class="product-info">
              <h4 class="product-title"><a href="shop-single.html">HP LaserJet Pro Laser Printer</a></h4><span><em>Type:</em> Laser</span><span><em>Color:</em> White</span>
            </div>
          </div>
        </td>
        <td class="text-center">
          <div class="count-input">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </td>
        <td class="text-center text-lg">$188.50</td>
        <td class="text-center">—</td>
        <td class="text-center"><i-x-circle></i-x-circle></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="shopping-cart-footer"> 
  <div class="column pull-right"><span class="text-muted">Subtotal:&nbsp; </span><span class="text-gray-dark">$2,548.50</span></div>
</div><br/>
<div class="row">
  <div class="col-md-6"><button class="btn btn-outline-secondary"><i-arrow-left></i-arrow-left> &nbsp;Back to Shopping</button></div>
  <div class="col-md-6 pull-right"><button class="btn btn-secondary" >Update Cart</button>&nbsp;<button class="btn btn-primary">Checkout</button></div>
</div>
</div>
</div>

