<div class="jumbotron">
  <div class="container">
    <h3 class="page-title">Cart</h3>
    <div class="table-responsive shopping-cart">
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Subtotal</th>
            <th class="text-center">Discount</th>
            <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Cart</a></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let prdt of addToCartItems | slice : startindex : endindex ; index as i; first as isFirst">
            <td>
              <div class="product-item"><a class="product-thumb"><img [src]="prdt.productImagepath" alt="Product" width="75" height="75"></a>
                <div class="product-info">
                  <h4 class="product-title"><a>{{prdt.productTitle}}</a></h4><span><em>Category:</em>{{prdt.productMainCategory}}</span><span><em>Variety:</em>
                    {{prdt.productSubCategory}}</span>
                </div>
              </div>
            </td>
            <td class="text-center quant-input">
              <div class="count-input">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number" (click)="decrease_quantity(prdt)" data-type="minus"
                      data-field="quant[3]">
                      <span class="fa fa-minus"></span>
                    </button>
                  </span>
                  <input type="text" name="quant" class="form-control input-number" [(ngModel)]="prdt.productQuantity" (keypress)="_keyPress($event)" (change)="countPrice(prdt)">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" (click)="increase_quantity(prdt)"
                      data-type="plus" data-field="quant[3]">
                      <span class="fa fa-plus"></span>
                    </button>
                  </span>
                </div>
              </div>
            </td>
            <td class="text-center text-lg">{{prdt.productPrice - prdt.productDiscount}}</td>
            <td class="text-center">
              <span *ngIf="prdt.productDiscount !== 0">{{prdt.productDiscount}}</span>
              <span *ngIf="prdt.productDiscount === 0">-</span>
            </td>
            <td class="text-center">
              <i-x-circle></i-x-circle>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="shopping-cart-footer">
      <div class="column pull-right"><span class="text-muted">Subtotal:&nbsp; </span><span class="text-gray-dark">{{totalPrice}}</span></div>
    </div><br />
    <div class="row">
      <div class="col-md-6"><button class="btn btn-outline-secondary" (click)="goToShopPage()">
          <i-arrow-left></i-arrow-left> &nbsp;Back to Shopping
        </button></div>
      <div class="col-md-6 pull-right"><button class="btn btn-secondary" (click)="updateCart()">Update Cart</button>&nbsp;<button class="btn btn-primary" (click)="goToCheckOut()">Checkout</button></div>
    </div>
  </div>
</div>