<div class="jumbotron">
	<div class="container">
		<h4 class="title">Customer Care</h4>
		<p class="font_7">
			<span>Have any questions or concerns ? We are ready to help! Call us at 044-28583916 or send us an email at info@mysite.com
			</span>
		</p>
		<div class="block-form box-border wow fadeInLeft animated animated" data-wow-duration="1s" style="visibility: visible; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;">
			<form id="mailform" name="mailform" novalidate="novalidate">
				<div class="row">
					<div class="col-md-6">
						<input class="form-control" id="name" name="name" placeholder="Enter your name.." type="text">
						<input class="form-control" id="email" name="email" placeholder="Enter your e-mail.." type="text">
						<input class="form-control" id="subject" name="subject" placeholder="Enter your subject.." type="text">
					</div>
					<div class="col-md-6">
						<textarea></textarea>
					</div>
				</div>
				<br />
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-md">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<h3 class="title">FAQ</h3>
	<br />
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<h5 class="title">How do I track my order?</h5>
			<p>To check the tracking status of your order, follow the steps given below:
					Go to Your Orders
					Click on the Track Package button next to the order that you wish to track.
					Note: For seller fulfilled orders, contact your seller for tracking details or other information about the delivery of your package.</p>
		</div>
		<div class="col-md-5">
			<h5 class="title">How can I contact your couriers?</h5>
			<p>I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double click me to
				add your own content and make changes to the font. I'm a great place for you to tell a story and let your users know
				a little more about you.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<h5 class="title">What are your delivery options?</h5>
			<p>You can check the delivery options like Shipping Rates & Policies. Shipping rate i'll be varies by area. Free delivery within radius of 3-4 km coverage.
			if shipping amount varies on-purchase will be intimated to customer earlier to avoid confusion. And also to more about shipping rates & policies please do visit page 	
			</p>
		</div>
		<div class="col-md-5">
			<h5 class="title">Do you provide International delivery?</h5>
			<p>No, We don't deliver outside the chennai</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<h5 class="title">How do I return an item?</h5>
			<p>Now it’s not possible to cancel an order through online but call our customer care and provide reasons and we will cancel the order and refund the amount.</p>
		</div>
		<div class="col-md-5">
			<h5 class="title">What is your returns policy?</h5>
			<p>In case of returns being taken as per our returns policy, for cash on delivery, we will return the money for the returned
				goods at the time of delivery itself. In case of credit/debit card payments we will credit the money back to your credit/debit
				card or Net banking which takes upto 8 to 10 working days to reflect in your statement. We will not be giving any cash
				refunds for purchase done using credit/debit card payments. Please contact customer support for further clarifications.</p>
		</div>
	</div>
</div>

