<div class="jumbotron">
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form class="card" [formGroup]="loginForm">
				<div class="card-body">
					<h4 class="margin-bottom-1x">Login</h4><br/>
					<div class="form-group input-group">
						<input class="form-control" type="email" placeholder="Email" required="" formControlName="custUserId">
						<span class="input-group-addon">
							<i class="icon-mail"></i>
						</span>
					</div>
					<div class="form-group input-group">
						<input class="form-control" type="password" placeholder="Password" required="" formControlName="custPassword">
						<span class="input-group-addon">
							<i class="icon-lock"></i>
						</span>
					</div>
					<div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="remember_me" checked="">
							<label class="custom-control-label" for="remember_me">Remember me</label>
						</div>
						<a class="navi-link" (click)="gotoPasswordRecoveryPage()">Forgot password?</a>
					</div>
					<div class="text-center text-sm-right">
						<button class="btn btn-primary margin-bottom-none" type="submit" (click)="loginCheck()">Login</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<div class="padding-top-3x hidden-md-up"></div>
			<h3 class="margin-bottom-1x">No Account? Register</h3>
			<p>Registration takes less than a minute but gives you full control over your orders.</p>
			<form class="row" [formGroup]="registrationForm">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="reg-fn">First Name</label>
						<input class="form-control" type="text" id="reg-fn" required="" formControlName="custFirstName">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="reg-ln">Last Name</label>
						<input class="form-control" type="text" id="reg-ln" required="" formControlName="custLastName">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="reg-email">E-mail Address</label>
						<input class="form-control" type="email" id="reg-email" required="" formControlName="custEmailAddr">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="reg-phone">Phone Number</label>
						<input class="form-control" type="text" id="reg-phone" required="" formControlName="custPhoneNum">
					</div>
				</div>
				<!-- <div formGroupName="passwords"> -->
					<div class="col-sm-6" formGroupName="passwords">
						<div class="form-group">
							<label for="reg-pass">Password</label>
							<input class="form-control" type="password" id="reg-pass" required="" formControlName="password">
						</div>
					</div>
					<div class="col-sm-6" formGroupName="passwords">
						<div class="form-group">
							<label for="reg-pass-confirm">Confirm Password</label>
							<input class="form-control" type="password" id="reg-pass-confirm" required="" formControlName="confirmPassword">
						</div>
					</div>
				<!-- </div> -->
				<div class="col-12 text-center text-sm-right">
					<button class="btn btn-primary margin-bottom-none"  (click)="sendRegistrationForm()">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>