
<form class="form-inline" role="form">
  <label for="productTitle" class="mb-2 mr-sm-2">Product Name:</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="productTitle" placeholder="Enter Product Name"><br/>
  <label for="productTitle" class="mb-2 mr-sm-2">Product Name:</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="productTitle" placeholder="Enter Product Name"><br/>
  <label for="productTitle" class="mb-2 mr-sm-2">Product Name:</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="productTitle" placeholder="Enter Product Name"><br/>
  <label for="productTitle" class="mb-2 mr-sm-2">Product Name:</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="productTitle" placeholder="Enter Product Name"><br/>
  <label for="productTitle" class="mb-2 mr-sm-2">Product Name:</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="productTitle" placeholder="Enter Product Name"><br/>
  <label for="productTitle" class="mb-2 mr-sm-2">Product Name:</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="productTitle" placeholder="Enter Product Name"><br/>
 
<button type="button" class="btn btn-primary mb-2">Submit</button>
</form>


productId:number,
productTitle: string,
productMainCategory:string,
productSubCategory:string,
productPrice:number,
productDiscount:number,
productWeight:number,
productStatus:string,
productImagepath:string,
productQuantity:number