<div class="jumbotron">
  <div class="container">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true">Orders</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
          aria-controls="nav-profile" aria-selected="false">View/Edit-Store Items</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
          aria-controls="nav-contact" aria-selected="false">Add Store Item</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <ag-grid-angular  class="ag-theme-balham" style="height: 500px;" [enableSorting]="true"
          [enableFilter]="true" [rowData]="orderRowData" [columnDefs]="orderColumnDefs">
        </ag-grid-angular>

      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <ag-grid-angular style="height: 500px;" class="ag-theme-balham" [enableSorting]="true"
          [floatingFilter]="true" [rowData]="prdtRowData" [columnDefs]="prdtColumnDefs" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <app-add-product></app-add-product>
      </div>
    </div>
  </div>
</div>