<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-card mb-30">
          <div class="product-badge bg-danger">Sale</div>
          <a class="product-thumb" href="shop-single.html">
            <img src="img/shop/products/01.jpg" alt="Product">
          </a>
          <div class="product-card-body">
            <div class="product-category">
              <a href="#">Smart home</a>
            </div>
            <h3 class="product-title">
              <a href="shop-single.html">Echo Dot (2nd Generation)</a>
            </h3>
            <h4 class="product-price">
              <del>$62.00</del>$49.99
            </h4>
          </div>
          <div class="product-button-group">
            <a class="product-button btn-wishlist" href="#">
              <i-heart class="icon icon-sm"></i-heart>
              <span>Wishlist</span>
            </a>
            <a class="product-button btn-compare" href="#">
              <!-- <i class="icon-repeat"></i> -->
              <span>Compare</span>
            </a>
            <a class="product-button" href="#" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle"
              data-toast-title="Product" data-toast-message="successfuly added to cart!">
              <i-shopping-cart class="icon icon-sm"></i-shopping-cart>
              <span>To Cart</span>
            </a>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>