<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-lg-2">
        <div class="row">
          <div class="col-md-4 col-sm-6" *ngFor="let prdt of products | slice : startindex : endindex ; index as i; first as isFirst">
            <div class="product-card mb-30">
              <ng-container *ngIf="prdt.productStatus === 'sale';else second">
                <div class="product-badge bg-danger">Sale</div>
              </ng-container>
              <ng-template #second>
                <ng-container *ngIf="prdt.productStatus === 'oos';else third">
                  <div class="product-badge bg-secondary border-default text-body" *ngIf="prdt.productStatus === 'oos';else second">Out
                    of stock</div>
                </ng-container>
              </ng-template>
              <ng-template #third></ng-template>
              <a class="product-thumb">
                <img [src]="prdt.productImagepath" alt="Product" width="200" height="210">
              </a>
              <div class="product-card-body">
                <div class="product-category"><span>{{prdt.productMainCategory}}</span>-<span>{{prdt.productSubCategory}}</span></div>
                <h3 class="product-title"><a>{{prdt.productTitle}}</a>-<span>{{prdt.productWeight}}</span>Kg</h3>
                <h4 class="product-price">
                  <del *ngIf="prdt.productDiscount !== 0"><span>&#8377;</span>{{prdt.productPrice}}</del>
                  <span><span>&#8377;</span>{{prdt.productPrice-prdt.productDiscount}}</span>
                </h4>
              </div>
              <div class="product-button-group">
                <a class="product-button btn-wishlist"  (click)="setIndex(prdt)">
                  <i-heart class="icon icon-sm" [ngClass]="{'wish-red': prdt.active}"></i-heart>
                  <span>Wishlist</span>
                </a>
                <a class="product-button" (click)="addToCart(prdt)" data-toast="" data-toast-type="success" data-toast-position="topRight"
                  data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!">
                  <i-shopping-cart class="icon icon-sm"></i-shopping-cart>
                  <span>To Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="pagination">
          <br />
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="5"
            [rotate]="true" [ellipses]="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First"
            last-text="Last" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
        </div>
      </div>


      <div class="col-lg-3 order-lg-1">
        <div class="sidebar-toggle position-left"><i class="icon-filter"></i></div>
        <aside class="sidebar sidebar-offcanvas position-left"><span class="sidebar-close"><i class="icon-x"></i></span>
          <!-- Widget Categories-->
          <section class="widget widget-categories">
            <h6 class="widget-title">Shop Categories</h6>
            <ul>
              <li class="has-children" [ngClass]="{'expanded active': toggleBR}" (click)="onShopCategoryClick('BR')"><a>Boild
                  Rice</a>
                <ul>
                  <li [ngClass]="{'active': toggleSubBRSMR}" (click)="onShopCategorySubMenuClick('BR-SMRice')"><a >Sona Masoori Rice</a></li>
                  <li [ngClass]="{'active': toggleSubBRBPT}" (click)="onShopCategorySubMenuClick('BR-BPTRice')"><a >BPT Rice</a></li>
                </ul>
              </li>
              <li class="has-children" [ngClass]="{'expanded active': toggleSR}" (click)="onShopCategoryClick('SR')"><a>Steam
                  Rice</a>
                <ul>
                  <li [ngClass]="{'active': toggleSubSRSMR}" (click)="onShopCategorySubMenuClick('SR-SMRice')"><a >Sona Masoori Rice</a></li>
                  <li [ngClass]="{'active': toggleSubSRBPT}" (click)="onShopCategorySubMenuClick('SR-BPTRice')"><a >BPT Rice</a></li>
                </ul>
              </li>
              <li class="has-children" [ngClass]="{'expanded active': toggleRR}" (click)="onShopCategoryClick('RR')"><a>Raw
                  Rice</a>
                <ul>
                  <li [ngClass]="{'active': toggleSubRRSMR}" (click)="onShopCategorySubMenuClick('RR-SMRice')"><a >Sona Masoori Rice</a></li>
                  <li [ngClass]="{'active': toggleSubRRWPRR}" (click)="onShopCategorySubMenuClick('RR-WPRawRice')"><a >White Ponni Raw Rice</a></li>
                </ul>
              </li>
              <li class="has-children" [ngClass]="{'expanded active': toggleTR}" (click)="onShopCategoryClick('TR')"><a>Tiffen
                  Rice</a>
                <ul>
                  <li [ngClass]="{'active': toggleSubTRIR}" (click)="onShopCategorySubMenuClick('Idly Rice')"><a >Idly Rice</a></li>
                  <li [ngClass]="{'active': toggleSubTRIRRR}" (click)="onShopCategorySubMenuClick('IR Raagam Rice')"><a >IR Raagam Rice</a></li>
                </ul>
              </li>
              <li class="has-children" [ngClass]="{'expanded active': toggleBBR}" (click)="onShopCategoryClick('BBR')"><a>Briyani
                  Rice</a>
                <ul>
                  <li [ngClass]="{'active': toggleSubBBRBR}" (click)="onShopCategorySubMenuClick('Basmati Rice')" ><a>Basmati Rice</a></li>
                  <li [ngClass]="{'active': toggleSubBBRSSR}" (click)="onShopCategorySubMenuClick('Seeraga Samba Rice')"><a >Seeraga Samba Rice</a></li>
                  <li [ngClass]="{'active': toggleSubBBROR}" (click)="onShopCategorySubMenuClick('Other Basmati Brands')"><a>Other Basmati Brands</a></li>
                </ul>
              </li>
            </ul>
          </section>
          <br />
          <!-- Widget Price Range-->
          <section class="widget widget-categories">
            <h6 class="widget-title">Price Range</h6>
            <form class="price-range-slider" method="post" data-start-min="250" data-start-max="650" data-min="0"
              data-max="1000" data-step="1">
              <nouislider [connect]="true" [min]="0" [max]="5000" [step]="1" [(ngModel)]="priceRange" name="nouislider" (change)="onChangePriceSlider($event)"></nouislider>
              <footer class="ui-range-slider-footer">
                <div class="column">
                  <button class="btn btn-outline-primary btn-sm" type="submit" (click)="onFilterStoreProductsByPriceRange();">Filter</button>
                </div>
                <div class="column">
                  <div class="ui-range-values">
                    <div class="ui-range-value-min"><span>&#8377;</span><span>{{priceMinValue}}</span>
                      <input type="hidden" value="250">
                    </div>&nbsp;-&nbsp;
                    <div class="ui-range-value-max"><span>&#8377;</span><span>{{priceMaxValue}}</span>
                      <input type="hidden" value="650">
                    </div>
                  </div>
                </div>
              </footer>
            </form>
          </section>
          <br />
          <section class="widget">
            <h6 class="widget-title">Filter by Weight</h6>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="oneKg">
              <label class="custom-control-label" for="oneKg">1&nbsp;KG</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="fiveKg">
              <label class="custom-control-label" for="fiveKg">5&nbsp;KG</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="tenKg">
              <label class="custom-control-label" for="tenKg">10&nbsp;KG</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="twentyFiveKg">
              <label class="custom-control-label" for="twentyFiveKg">25&nbsp;KG</label>
            </div>
          </section>
          <br />
          <section class="widget">
            <h6 class="widget-title">Filter by Brand</h6>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="apple">
              <label class="custom-control-label" for="apple">Sivaji Brand&nbsp;</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="bosh">
              <label class="custom-control-label" for="bosh">Muthayam Brand&nbsp;</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="canon">
              <label class="custom-control-label" for="canon">Kamadhenu Brand&nbsp;</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="dell">
              <label class="custom-control-label" for="dell">Captian Brand&nbsp;</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="dell">
              <label class="custom-control-label" for="dell">Unity Brand&nbsp;</label>
            </div>
          </section>
        </aside>
      </div>
    </div>
  </div>
</div>
<toaster-container></toaster-container>