/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
/* @import "assets/fonts/MavenPro-Regular.ttf"; */

@font-face {
    font-family: 'Maven Pro';    
    src: url('assets/fonts/MavenPro-Regular.ttf') format('truetype');        
}

body{
    color: #606975;
    font-family: "Maven Pro";
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    color: #374250;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    font-size:18px;  
   
}

.btn-sm, .btn{
    border-radius: 0;
}

p{
    text-align: center;
}

.center{
    text-align: center;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.form-control{
    border-radius:0;
}

.offcanvas-expanded{
    -webkit-transform: translate3d(290px, 0, 0);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}  
}

.noUi-horizontal{height:2px}
.noUi-horizontal .noUi-handle{top:-7px;left:-3px;width:8px;height:16px}


.price-range-slider{padding-top:9px}
.price-range-slider .ui-range-slider-footer{display:table;width:100%;padding-top:30px}
.price-range-slider .ui-range-slider-footer>.column{display:table-cell;vertical-align:middle}.price-range-slider .ui-range-slider-footer>.column:first-child{width:40%}
.price-range-slider .ui-range-slider-footer>.column:last-child{width:60%;padding-left:15px;text-align:right}
 .price-range-slider .ui-range-slider-footer .btn{height:28px;margin:0;padding:0 15px;line-height:26px}.price-range-slider .ui-range-values{display:inline-block}
.price-range-slider .ui-range-values .ui-range-value-min,.price-range-slider .ui-range-values .ui-range-value-max{display:inline-block;font-size:13px} 

.noUi-handle{background:#505050;cursor:default}

.modal{
    top:25px;
}

.page-title {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e1e7ec;
    font-weight: bold;
    text-transform: uppercase;
}





