<div class="jumbotron">
  <div class="container-fluid">
    <form class="form-horizontal">

      <div class="card">

        <div class="card-header">
          <h5>Order Summary</h5>
        </div>
        <div class="card-body">
          <h5 id="order_info" class="card-title">Order Information</h5>
          <div class="container">
            <div class="row">
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Order ID</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Ordered Date</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Update Date</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Order Status</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <h5 id="cust_info" class="card-title">Customer Information</h5>
          <div class="container">
            <div class="row">
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">First Name</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Last Name</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">E-Mail</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Contact No</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />
        <div class="card-body">
          <h5 id="ship_info" class="card-title">Shipping Information</h5>
          <div class="container">
            <div class="row">
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">First Name</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Last Name</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">E-Mail</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Contact No</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Address Line 1</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>

              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Address Line 2</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>


            </div>
            <div class="row">
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Land Mark</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">City</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-sm-4">
                <div class="row">
                  <label for="orderid" class="col-form-label col-sm-4" style="text-align: right;">Zip Code</label>
                  <div class="col-md-8"><input type="text" class="form-control" id="orderId" placeholder="Product Price"
                      disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <hr />
        <div class="card-body">
          <h5 id="order_info" class="card-title">Product Information</h5>
          <div class="container">
          <div _ngcontent-c18="" class="table-responsive shopping-cart">
            <table _ngcontent-c18="" class="table">
              <thead _ngcontent-c18="">
                <tr _ngcontent-c18="">
                  <th _ngcontent-c18="">Product Name</th>
                  <th _ngcontent-c18="" class="text-center">Quantity</th>
                  <th _ngcontent-c18="" class="text-center">Subtotal</th>
                  <th _ngcontent-c18="" class="text-center">Discount</th>
                  <th _ngcontent-c18="" class="text-center">
                    <a _ngcontent-c18="" class="btn btn-sm btn-outline-danger" href="#">Clear Cart</a>
                  </th>
                </tr>
              </thead>
              <tbody _ngcontent-c18="">
                <tr _ngcontent-c18="" class="ng-star-inserted">
                  <td _ngcontent-c18="">
                    <div _ngcontent-c18="" class="product-item">
                      <a _ngcontent-c18="" class="product-thumb">
                        <img _ngcontent-c18="" alt="Product" height="75" width="75" src="../../assets/img/image_not_available_300.jpg"></a>
                      <div _ngcontent-c18="" class="product-info">
                        <h4 _ngcontent-c18="" class="product-title"><a _ngcontent-c18="">Muthayam Brand</a></h4><span
                          _ngcontent-c18=""><em _ngcontent-c18="">Category:</em>Steam Rice</span><span _ngcontent-c18=""><em
                            _ngcontent-c18="">Variety:</em> Sona Masoori Rice</span>
                      </div>
                    </div>
                  </td>
                  <td _ngcontent-c18="" class="text-center quant-input">
                    
                  </td>
                  <td _ngcontent-c18="" class="text-center text-lg">1050</td>
                  <td _ngcontent-c18="" class="text-center">
                    <span _ngcontent-c18="" class="ng-star-inserted">100</span></td>
                  <td _ngcontent-c18="" class="text-center">
                    <i-x-circle _ngcontent-c18="" _nghost-c19=""><svg _ngcontent-c19="" class="feather feather-x-circle"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <circle _ngcontent-c19="" cx="12" cy="12" r="10"></circle>
                        <line _ngcontent-c19="" x1="15" x2="9" y1="9" y2="15"></line>
                        <line _ngcontent-c19="" x1="9" x2="15" y1="9" y2="15"></line>
                      </svg></i-x-circle>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>

        <hr />
        <div class="card-body">
          <h5 id="order_info" class="card-title">Payment Method</h5>
        </div>
      </div>
      <div>
      </div>

    </form>
  </div>
</div>