.jumbotron{
    padding: 0;
    background-color: #fff;
    margin-bottom: 0;
}

p{
    text-align: left;
}

marquee{
    font-family: myTamilFont;
}

@font-face
{
    font-family: myTamilFont;
    src: url(../../assets/fonts/tamil_font_01.ttf);
}

.card{
    border-radius: 0;
}
 
