<div class="jumbotron">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <img [src]="images[0]" alt="Random first slide">
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[1]" alt="Random second slide">
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide">
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <marquee behavior="scroll" direction="left">
        ஒரு நெல்லை வைத்து அதை நூறு நெல்லாக மற்றும் விவசாயிகள் தான் இந்த உலகத்தின் தலைசிறந்த விஞ்ஞானி</marquee>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    <img src="../../assets/img/ecommerce_icons/administrator.png" style="width:25px;height:25px;">&nbsp;Customer Support
                </th>
                <th scope="col">
                    <img src="../../assets/img/ecommerce_icons/tag.png" style="width:25px;height:25px;">&nbsp;All Brands and Types of Rice</th>
                <th scope="col">
                    <img src="../../assets/img/ecommerce_icons/scooter.png" style="width:25px;height:25px;">&nbsp;Delivery to Your Doorstep</th>
                <th scope="col">
                    <img src="../../assets/img/ecommerce_icons/mobile_payment.png" style="width:25px;height:25px;">&nbsp;Easy Payment Options</th>
                <th scope="col">
                    <img src="../../assets/img/ecommerce_icons/pickup_truck.png" style="width:25px;height:25px;">&nbsp;Easy Return Policy</th>
                <th scope="col">
                    <img src="../../assets/img/ecommerce_icons/truck.png" style="width:25px;height:25px;">&nbsp;Bulk Orders
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"
                        src="../../assets/img/ponni-rice-1-812.jpeg" data-holder-rendered="true" style="width: 200px; height: 250px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h5 class="mb-0">
                            <a class="text-dark">Ponni Rice</a>
                        </h5>
                        <p class="card-text mb-auto">Ponni rice is a variety of rice cultivated Tamil Nadu. It is widely
                            cultivated in Tamil Nadu a state in India.The variety is rich in calories with up to 5
                            kcal per particle of rice.The rice is also suitable for the diabetic in
                            some varieties and easily can be digested by the stomach.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"
                        src="../../assets/img/ponni-rice-1-812.jpeg" data-holder-rendered="true" style="width: 200px; height: 250px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h5 class="mb-0">
                            <a class="text-dark" href="#">Steam Rice</a>
                        </h5>
                        <p class="card-text mb-auto">A special technology of improving the quality characteristics of rice. Raw rice soaked in water and
                            then treated with hot steam under pressure. After that the grain is dried and polished. As a
                            result of steaming grains of rice become amber-yellow hue and become translucent.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"
                        src="../../assets/img/ponni-rice-1-812.jpeg" data-holder-rendered="true" style="width: 200px; height: 250px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h5 class="mb-0">
                            <a class="text-dark" href="#">Millet Rice</a>
                        </h5>
                        <p class="card-text mb-auto">Millets are a group of highly variable small-seeded grasses, widely grown around the world
                            as cereal crops or grains. Millets are known as “Small Grains” or “Siru Thaaniyangal” in Tamil.Millets are one of
                            the oldest foods known to humans and possibly the first cereal grain to be used for domestic purposes.Millets are
                            also unique due to their short growing season.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"
                        src="../../assets/img/ponni-rice-1-812.jpeg" data-holder-rendered="true" style="width: 200px; height: 250px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h5 class="mb-0">
                            <a class="text-dark" href="#">Basmati Rice</a>
                        </h5>
                        <p class="card-text mb-auto">Basmati rice is a variety of long-grained rice that originates in the foothills of the Himalayas and is traditionally served in Indian and other South Asian cuisines.
                            Frequently served alongside various curries, braised or roasted meats, or as the main ingredient in classic biryani,
                            basmati rice is sometimes served plain but often flavored with turmeric or saffron
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <h5>Buy rice online at it's best price in chennai - from the comfort of your home</h5>
        <p>Rice is the staple food of India and is the only grain unique to India’s very diverse culture.There are different
            varieties of Rice and each variety has its own benefits.Rice when consumed as a whole is very much nutritious
            and is a healthy diet. The Germ and the Bran form the core nutrition of the Rice and they are rich in protein,
            minerals, vitamins and fiber. From our shop we offer you the best of choices to select for a healthy life and
            wellbeing. A wide variety of offering in various categories like Raw, Boiled, Basmati, Organic, Brown and Red
            rice from well-known brands at the best prices available in market. We also specialize in low glycemic rice ideally
            suited for diabetics and to those who are calorie conscious.
        </p>
        <h5>Basmati rice choices at best price in chennai</h5>
        <p> Our shop offers best basmati rice online at the best available market price. We have a variety of brands to suit
            your taste buds and menu. Biriyani, Pulao, Jeera Rice or Fried Rice, think of any dish and our Basmati varieties
            would add more flavor and taste to your appetite. And to add more delight we also deliver your products free
            and on time. We specialize in Organic basmati rice and assure you highest quality for every product.
        </p>
        <h5>Online rice shopping mobile app available on Google Play Store</h5>
        <p>Now you can buy our products online in Chennai through our exclusive shop App. The shop app is simple and easy to
            use app built with Innovative technology ensuring best-in-class customer experience.</p>
    </div>
</div>