<div class="jumbotron">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <img [src]="images[0]" alt="Random first slide">
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[1]" alt="Random second slide">
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide">
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <div class="container">
       
        <h5>Buy rice online at it's best price in chennai - from the comfort of your home</h5>
        <p>Rice is the staple food of India and is the only grain unique to India’s very diverse culture.There are different varieties of Rice and each variety has its own benefits.Rice when consumed as a whole is very much nutritious and is a healthy diet. The Germ and the Bran form the core nutrition of the Rice and they are rich in protein, minerals, vitamins and fiber.

            From our shop we offer you the best of choices to select for a healthy life and wellbeing. A wide  variety of offering in various categories like Raw, Boiled, Basmati, Organic, Brown and Red rice from well-known brands at the best prices available in market. We also specialize in low glycemic rice ideally suited for diabetics and to those who are calorie conscious. 
        </p>
            
        <h5>Basmati rice choices at best price in chennai</h5>    
           
        <p> Our shop offers best basmati rice online at the best available market price. We have a variety of brands to suit your taste buds and menu. Biriyani, Pulao, Jeera Rice or Fried Rice, think of any dish and our Basmati varieties would add more flavor and taste to your appetite. And to add more delight we also deliver your products free and on time.  We specialize in Organic basmati rice and assure you highest quality for every product.            
        </p>
            
        <h5>Online rice shopping mobile app available on Google Play Store</h5>    
        <p>Now you can buy our products online in Chennai through our exclusive shop App. The shop app is simple and easy to use app built with Innovative technology ensuring best-in-class customer experience.</p>
    </div>
</div>